@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Lato:wght@300&display=swap');

/* 🌙 Dark Theme */
$dark-card-bg: #0E131F;
$dark-text: #F4FAFF;

/* ☀️ Light Theme */
$light-card-bg: #B9C4DF;
$light-text: #000B14;

/* 🖋 Fonts */
$font-text: 'Lato', sans-serif;
$font-title: 'Kanit', sans-serif;
