// Dark theme
$color-background-card-dark: #0E131F;
$color-text-dark: #F4FAFF;
$color-text-dark: #F4FAFF;

// Light theme
$color-background-card-light: #B9C4DF;
$color-text-light: #000B14;
$color-text-light: #000B14;

$font-family-text: 'Lato', sans-serif;
$font-family-title: 'Kanit', sans-serif;
